ENV_MODE=
API_PORT=

# Database Connection String
ConnectionStrings__DefaultConnection=

# JWT Settings
JwtSettings__SecretKey=
JwtSettings__Issuer=
JwtSettings__Audience=
JwtSettings__AccessTokenExpiryMinutes=
JwtSettings__RefreshTokenExpiryDays=